<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcx.mapper.MemberOrdersinfoMapper">
	<resultMap id="BaseResultMap" type="com.lcx.pojo.MemberOrdersinfo" >
		<id column="code" property="code" jdbcType="VARCHAR" />
		<result column="membercode" property="membercode" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="billorderscode" property="billorderscode" jdbcType="VARCHAR" />


	</resultMap>

	<sql id="Base_Column_List" >
		id, membercode, remarks, billorderscode
	</sql>

	<select id="selectByMemberKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from member_ordersinfo
		where membercode = #{membercode,jdbcType=VARCHAR}
	</select>

</mapper>